<footer class="border-top bg-dark py-2 px-3 text-light">
    <div class="row">
        <div class="col-7 col-sm-9">
            &copy; {{ now|date('Y') }} coupe-s.ch
        </div>
        <div class="col-5 col-sm-3 text-right">
            <a href="{{ base_url() }}/impressum" class="text-light">Impressum</a>
            <span class="d-none d-lg-inline">|</span>
            <a href="{{ base_url() }}/datenschutz" class="text-light">Datenschutz</a>
        </div>
    </div>
</footer>
